:root {
  --primary-color: #2F2225;
  --secondary-color: #A49C8E;
  --background-color: #FFFDF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #FFFDF7
}
/*header start*/
header {
font-size:60px;
  padding: 10px;
  margin: 0px ;
border-bottom: 7px solid var(--secondary-color);;
  
}
h1 {
color: var(--primary-color);
text-align: center;
font-family: impact, fantasy;
letter-spacing: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0px 50px 0px;

  }
  header nav ul li a {
  font-size: 15px;
  outline: 1px solid  var(--primary-color);
  padding: 5px 10px;
    border-radius: 10px;
  }

button:hover {
    background-color: #FFBC1F
}
a:hover {
    background-color: #FFBC1F;
}
button {
    padding: 9px 10px;
    border-radius: 10px;
}
  
/*header end*/

/* artists section */
.choose {
font-family: impact, fantasy;
font-size: 40px;
text-align: center;
color:  var(--primary-color);
padding: 20px;
letter-spacing: 2px;
}
.artists {
  width: 90%;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 color:  var(--primary-color);
  border: 7px solid var(--secondary-color);;
  margin: 0px 50px 50px
}
img {
outline-style: solid;
outline-color: var(--secondary-color);;
   outline-width: 4px;
}
.catalog {
  margin: 20px 100px 0px
}
/* artists end*/

/* policy start */
.policy h3 {
padding: 0px;
font-size: 40px;
font-family: impact, fantasy;
  letter-spacing: 2px;
  color:  var(--primary-color);
}
.policy {
color: var(--secondary-color);;
padding: 50px;
font-size: 20px;
text-align: center;
font-family: Andale Mono, monospace;
}
main ul{
outline-style: solid ;
  outline-color: var(--secondary-color);;
   outline-width: 7px;
  color; color:  var(--primary-color);
}
/*policy end*/

/*client form*/
.form {
font-family: Andale Mono, monospace;
text-align: center;
  font-size:25px;
  margin: 45px;
color:  var(--primary-color);
outline-style: solid;
outline-color:var(--secondary-color);;
outline-width: 7px;
padding: 40px;
display:flex;
justify-content: center;

  
}
.form-header {
font-size: 40px;
letter-spacing: 2px;
font-family: impact, fantasy;
  text-align: center;
  text-decoration: underline
  

}
.user-input {
width: 520px;
padding: 20px;
}
form div input {
  display: ;
}
textarea {
width: 100%;
height: 150px;
border: 3px solid  var(--primary-color);;
background-color: white;
resize: none;
}
/*form style ends*/

/*footer style*/
footer {
color:  var(--primary-color);
  text-align:center;
  padding: 10px;
  border-top: 7px solid var(--secondary-color);
  
}
#flex {
  display: flex;
  margin-left: 20%;
  margin-top: 3%;
  }
